<a href="https://colab.research.google.com/github/YangJeongA/multicampus_python/blob/main/1_pandas_series_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. pandas package load

In [1]:
import pandas as pd

##2. pandas의 Series와 DataFrame
- 1차원 데이터는 Series, 2차원 데이터는 dataframe
- 여러개의 data column이 있으면 DataFrame, 하나만 있으면 Series 

  (=dataframe에서 column하나만 떼어서 보면 Series data)

###2-1. Series
- 일차원의 data type

In [ ]:
pd.Series([1, 2, 3, 4])

#pandas에서 사용하기 위해 pandas에서 사용 가능한 datatype(Series)로 바꿔줌

In [2]:
a = [1, 2, 3, 4]
pd.Series(a)

In [3]:
mylist = [1, 2, 3, 4]
test = pd.Series(mylist)
type(test)

pandas.core.series.Series

###2-2. DataFrame
: 2차원의 data type
- DataFrame의 왼쪽 첫번째 열은 index

- DataFrame의 첫번째 행은 columns

- 실제 data가 저장된 부분(index, columns를 제외한 값 부분)은 values라고 부름

- 실제 DataFrame이 저장되지는 않음

####방법1. list로 만들기
: dataframe 생성시 values만 정의하고, 추가로 컬럼명을 설정하는 방식

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

In [4]:
# 1) 2차원 리스트로 values값을 생성
subway1 = [['1호선','서울역', 17896, 15468],
           ['2호선','강남', 22794, 21657],
           ['3호선','신사', 24131, 25592]]

df1 = pd.DataFrame(subway1)
df1

     0    1      2      3
0  1호선  서울역  17896  15468
1  2호선   강남  22794  21657
2  3호선   신사  24131  25592

In [5]:
#2) 제목컬럼 만들기
#dataframe을 생성하며 컬럼명을 설정하는 방법

df1.columns = ['지하철노선', '역명', '승차총승객수','하차총승객수']

df1 = pd.DataFrame(data=subway1, columns=['지하철노선', '역명', '승차총승객수','하차총승객수'])
df1

  지하철노선   역명  승차총승객수  하차총승객수
0   1호선  서울역   17896   15468
1   2호선   강남   22794   21657
2   3호선   신사   24131   25592

#####2) dict로 만들기
- DataFrame 생성할 때 dict type으로 생성하면 columns와 values를 입력하고 시작함
- dict의 key값이 column, dict의 value는 values(list 형태)

In [6]:
subway2 = {'지하철노선':['1호선', '2호선', '3호선'], 
            '역명': ['서울역','강남','신사'], 
            '승차총승객수': [17896, 22794, 24131],
            '하차총승객수': [15468, 21657, 25592]
           }
df2 = pd.DataFrame(subway2)
df2

  지하철노선   역명  승차총승객수  하차총승객수
0   1호선  서울역   17896   15468
1   2호선   강남   22794   21657
2   3호선   신사   24131   25592

###3. index를 특정 column으로 지정하기

In [ ]:
df1

# index값을 특정 column으로 대치하기
df1.index = df1['지하철노선']

df1

###4. Series = column

In [7]:
type(df1['역명'])

#index+지정한 column을 불러올 수 있음

pandas.core.series.Series

In [8]:
df1['역명']

0    서울역
1     강남
2     신사
Name: 역명, dtype: object